:root {
  --colors-accent: #00aaaa;
  --colors-background-1: #222222;
  --colors-background-2: hsl(from var(--colors-background-1) h s calc(l + 10));
  --colors-foreground-1: #eeeeee;

  color-scheme: dark;
  accent-color: var(--colors-accent);
}

body {
  line-height: 150%;
  font-family: sans-serif;
  background-color: var(--colors-background-1);
  color: var(--colors-foreground-1);
}

a {
  color: var(--colors-accent);
}

a:active {
  color: var(--colors-accent);
}

a:visited {
  color: var(--colors-accent);
}

a:hover {
  color: lighten(var(--colors-accent));
}

table {
  border-spacing: 1px;
  background-color: var(--colors-foreground-1);
  white-space: nowrap;
}

td, th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: var(--colors-background-2);
}

h2 {
  display: inline;
  margin-right: 1ch;
}

ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 1em;
}
li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

input {
  text-align: center;
}

/* input[type=text] {
  color: light-dark(#545454, #aaaaaa);
  background-color: light-dark(#efefef4d, #3b3b3b4d);
  border-style: inset;
  border-width: 2px;
  border-color: light-dark(#767676, #858585);
} */

input[type=text]::placeholder {
  /* color: light-dark(#292929, #666); */
  color: hsl(from var(--colors-foreground-1) h s calc(l - 15));
  font-size: 150%;
}

input[type=text]:focus::placeholder {
  color: transparent;
  display: none;
}

.blocksTable input[type=text] {
  border-style: none;
  background-color: transparent;
  padding: 3px;
}

details > div {
  border: 1px solid var(--colors-foreground-1);
  width: 60%;
  display: inline-block;
  padding: 0.5em;
}

main>* {
  margin-top: 0.3em;
}

.hidden {
  display: none;
}

.step {
  border-top: 2px solid var(--colors-foreground-1);
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.disabledLink, .disabledLink:hover {
  color: gray;
  cursor: not-allowed;
}

#sizeX, #sizeY, #sizeZ {
  width: 2.5ch;
}

#fuelBasePower, #fuelBaseHeat {
  width: 8.5ch;
}

.fuelPresets details > div {
  overflow-x: auto;
  width: auto;
  display: block;
  padding: 0em;
}

#blockType>:not(:first-child) {
  font-family: monospace;
  font-weight: bold;
  font-size: 135%;
}

#rate input, #limit input, #activeRate input, #activeLimit input {
  width: 3em;
}

.Wt {color: #1e8fffdd;}
.Rs {color: #ff0000dd;}
.Qz {color: #d3d3d3dd;}
.Au {color: #ffd700dd;}
.Gs {color: #ddcc00dd;}
.Lp {color: #0000ffdd;}
.Dm {color: #b0e0e6dd;}
.He {color: #f08080dd;}
.Ed {color: #008080dd;}
.Cr {color: #00bfffdd;}
.Fe {color: #f5deb3dd;}
.Em {color: #008000dd;}
.Cu {color: #a52a2add;}
.Sn {color: #b0c4dedd;}
.Mg {color: #ffc0cbdd;}
.air {color: #ffffffdd;}
.cell {color: #808080dd;}
.mod {color: #808080dd;}

.controls > a {
  display: inline-block;
  width: 10em;
  text-decoration: none;
  text-align: center;
  color: var(--colors-foreground-1);
  background: hsl(from var(--colors-background-2) h s calc(l + 15));
  border: 2px outset hsl(from var(--colors-background-2) h s calc(l + 30));
}
.controls > a.disabledLink {
  color: hsl(from var(--colors-foreground-1) h s calc(l - 30));
  background: hsl(from var(--colors-background-2) h s calc(l - 15));
  border-color: hsl(from var(--colors-background-2) h s calc(l - 0));
}

.lossChart {
  width: fit-content;
  border: 1px solid var(--colors-foreground-1);
  padding: 2px;
}

#design>* {
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  border: 1px solid var(--colors-foreground-1);
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: sans-serif;
  background-color: var(--colors-background-2);
}

#design>:first-child {
  min-width: 20em;
}

.info {
  position: relative;
  text-align: left;
}

.info>div {
  padding: 0em 0.25em;
}

.info>div:nth-child(1) {
  display: inline-block;
  width: 40%;
  text-align: right;
  padding: 0em 1em 0em 0.25em;
}

.info>div:nth-child(2) {
  display: inline;
  font-size: 80%;
}

.row {
  font-family: monospace;
  font-weight: bold;
  font-size: 120%;
}

.active-cooler {
  outline: 2px dashed var(--colors-foreground-1);
}

#fuels {
  display: inline-block;
  height: 20em;
  overflow-y: auto;
  border: 1px solid var(--colors-foreground-1);
  line-height: 1.5em;
}

#fuels table {
  border-spacing: 0px;
  background: var(--colors-background-2);
}

#fuels td {
  padding: 0em 0.5em;
  text-align: left;
}

#otherFuels {
  display: inline-block;
}