body {
  line-height: 150%;
  font-family: sans-serif;
  background-color: #111;
  color: #ccc;
}

a {
  color: cyan;
}

a:active {
  color: lightcyan;
}

a:visited {
  color: cyan;
}

a:hover {
  color: cyan;
}

table {
  border-spacing: 1px;
  background-color: #aaa;
  white-space: nowrap;
}

td, th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: #333;
}

h2 {
  display: inline;
  margin-right: 1ch;
}

ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 1em;
}
li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

input {
  text-align: center;
}

input[type=text] {
  background-color: #333;
  color: #eee;
  border: 0px;
}

input[type=text]::placeholder {
  color: #eee;
  font-size: 150%;
}

input[type=text]:focus::placeholder {
  color: #333;
  display: none;
}


details > div {
  border: 1px solid #aaa;
  width: 60%;
  display: inline-block;
  padding: 0.5em;
}

main>* {
  margin-top: 0.3em;
}

.hidden {
  display: none;
}

.step {
  border-top: 2px solid #aaa;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.disabledLink, .disabledLink:hover {
  color: gray;
  cursor: not-allowed;
}

#sizeX, #sizeY, #sizeZ {
  width: 2.5ch;
}

#fuelBasePower, #fuelBaseHeat {
  width: 8.5ch;
}

.fuelPresets details > div {
  overflow-x: auto;
  width: auto;
  display: block;
  padding: 0em;
}

#blockType>:not(:first-child) {
  font-family: monospace;
  font-weight: bold;
  font-size: 135%;
}

#rate input, #limit input, #activeRate input, #activeLimit input {
  width: 3em;
}

.Wt {color: dodgerblue;}
.Rs {color: red;}
.Qz {color: lightgray;}
.Au {color: gold;}
.Gs {color: #dc0;}
.Lp {color: blue;}
.Dm {color: powderblue;}
.He {color: lightcoral;}
.Ed {color: teal;}
.Cr {color: deepskyBlue;}
.Fe {color: wheat;}
.Em {color: green;}
.Cu {color: brown;}
.Sn {color: lightsteelblue;}
.Mg {color: pink;}
.air {color: white;}
.cell {color: gray;}
.mod {color: black;}

.controls > a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 10em;
  border: 2px outset #ccc;
  background: #ddd;
  text-align: center;
}
.controls > a.disabledLink {
  color: #777;
  background: #bbb;
  border-color: #aaa;
}

#design>* {
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  border: 1px solid #aaa;
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: sans-serif;
  background-color: #333;
}

#design>:first-child {
  min-width: 20em;
}

.info {
  position: relative;
  text-align: left;
}

.info>div {
  padding: 0em 0.25em;
}

.info>div:nth-child(1) {
  display: inline-block;
  width: 40%;
  text-align: right;
  padding: 0em 1em 0em 0.25em;
}

.info>div:nth-child(2) {
  display: inline;
  font-size: 80%;
}

.row {
  font-family: monospace;
  font-weight: bold;
  font-size: 120%;
}

.active-cooler {
  outline: 2px dashed #aaa;
}

#fuels {
  display: inline-block;
  height: 20em;
  overflow-y: auto;
  border: 1px solid #aaa;
  line-height: 1.5em;
}

#fuels table {
  border-spacing: 0px;
  background: #333;
}

#fuels td {
  padding: 0em 0.5em;
  text-align: left;
}

#otherFuels {
  display: inline-block;
}