:root {
  color-scheme: dark;
}

body {
  line-height: 150%;
  font-family: sans-serif;
  background-color: #111;
  color: #ccc;
}

a {
  color: #00aaaa;
}

a:active {
  color: #00aaaa;
}

a:visited {
  color: #00aaaa;
}

a:hover {
  color: #00ffff;
}

table {
  border-spacing: 1px;
  background-color: #ccc;
  white-space: nowrap;
}

td, th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: #222;
}

h2 {
  display: inline;
  margin-right: 1ch;
}

ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 1em;
}
li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

input {
  text-align: center;
}

/* input[type=text] {
  color: light-dark(#545454, #aaaaaa);
  background-color: light-dark(#efefef4d, #3b3b3b4d);
  border-style: inset;
  border-width: 2px;
  border-color: light-dark(#767676, #858585);
} */

input[type=text]::placeholder {
  /* color: light-dark(#292929, #666); */
  color: #666;
  font-size: 150%;
}

input[type=text]:focus::placeholder {
  color: transparent;
  display: none;
}

.blocksTable input[type=text] {
  border-style: none;
  background-color: transparent;
  padding: 3px;
}

details > div {
  border: 1px solid #aaa;
  width: 60%;
  display: inline-block;
  padding: 0.5em;
}

main>* {
  margin-top: 0.3em;
}

.hidden {
  display: none;
}

.step {
  border-top: 2px solid #aaa;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.disabledLink, .disabledLink:hover {
  color: gray;
  cursor: not-allowed;
}

#sizeX, #sizeY, #sizeZ {
  width: 2.5ch;
}

#fuelBasePower, #fuelBaseHeat {
  width: 8.5ch;
}

.fuelPresets details > div {
  overflow-x: auto;
  width: auto;
  display: block;
  padding: 0em;
}

#blockType>:not(:first-child) {
  font-family: monospace;
  font-weight: bold;
  font-size: 135%;
}

#rate input, #limit input, #activeRate input, #activeLimit input {
  width: 3em;
}

.Wt {color: #1e8fffab;}
.Rs {color: #ff0000ab;}
.Qz {color: #d3d3d3ab;}
.Au {color: #ffd700ab;}
.Gs {color: #ddcc00ab;}
.Lp {color: #0000ffab;}
.Dm {color: #b0e0e6ab;}
.He {color: #f08080ab;}
.Ed {color: #008080ab;}
.Cr {color: #00bfffab;}
.Fe {color: #f5deb3ab;}
.Em {color: #008000ab;}
.Cu {color: #a52a2aab;}
.Sn {color: #b0c4deab;}
.Mg {color: #ffc0cbab;}
.air {color: #ffffffab;}
.cell {color: #808080ab;}
.mod {color: #808080ab;}

.controls > a {
  display: inline-block;
  width: 10em;
  text-decoration: none;
  text-align: center;
  color: #ccc;
  background: #666;
  border: 2px outset #999;
}
.controls > a.disabledLink {
  color: #666;
  background: #333;
  border-color: #666;
}

#design>* {
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  border: 1px solid #aaa;
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: sans-serif;
  background-color: #333;
}

#design>:first-child {
  min-width: 20em;
}

.info {
  position: relative;
  text-align: left;
}

.info>div {
  padding: 0em 0.25em;
}

.info>div:nth-child(1) {
  display: inline-block;
  width: 40%;
  text-align: right;
  padding: 0em 1em 0em 0.25em;
}

.info>div:nth-child(2) {
  display: inline;
  font-size: 80%;
}

.row {
  font-family: monospace;
  font-weight: bold;
  font-size: 120%;
}

.active-cooler {
  outline: 2px dashed #aaa;
}

#fuels {
  display: inline-block;
  height: 20em;
  overflow-y: auto;
  border: 1px solid #aaa;
  line-height: 1.5em;
}

#fuels table {
  border-spacing: 0px;
  background: #222;
}

#fuels td {
  padding: 0em 0.5em;
  text-align: left;
}

#otherFuels {
  display: inline-block;
}